*.swp
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/
src/rosco_version.h
bin/
Makefile
cmake_install.cmake
*.gz
install_manifest.txt
Makefile
bin/
cmake_install.cmake
librosco.3.gz
*.deb
build/
